body{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.block{
    display: block;
}
.header {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}

.conteudo{
    
    text-align: center;
    align-items: center;

}
div#conteudo{
    text-align: center;
    margin: auto;
    min-width: 50%;
    max-width: 100%;
}
.min_box{
    margin: auto;
    min-width: 50%;
    max-width: 80%;
}
.box{
    margin: auto;
    padding: 2rem;
    width: fit-content;
    height: auto;
    /* display: contents; */
    border: 3px solid black ;
}
.align-block{
    width: auto;
}
.center {
    vertical-align: middle;
    text-align: center;
    display: flex;
}
.link_g{
    color: inherit;
    text-decoration: none;
}
.link_g a:hover{
    background-color:#ec830c28;
    color: inherit;
}
.inverter{
    filter: invert(1);
}