
.menu_topo{
    --tamanho_letra_menu: 1.5rem;
    --margin-geral: 0px;
    
    --bakground-color:rgb(10, 10, 10);
    --border-geral:1rem solid var(--bakground-color);
    --font-color:rgb(228, 232, 248);
 }
.menu_topo{
    font-size: var(--tamanho_letra_menu);
    margin: var(--margin-geral);
    background-color:var(--bakground-color);
    color: var(--font-color);
    border: var(--border-geral);
    text-align: center;
    /* width: 100%; */
}
.menu_topo ul{
    padding:0px;
    margin: 0;
    background-color: inherit;
    color: inherit;
    border: 0;
    text-align: center;
    list-style: none;
}
.menu_topo ul li{
    margin-left: 0.5rem;
    display: inline;
    background-color:inherit;
    color: inherit;
}

.menu_topo ul li a{ 
    color: inherit;
    text-decoration: none;
    /* border-bottom:3px solid #EDEDED; */
}
.menu_topo ul li a:hover {
    background-color:#ec830c28;
    color: inherit;
}
