<!-- <div class="gradient alt center "> -->
    
    <div class="contato backgroundStyle">
    <h1>
        <a id='whatsapp' class="conteudo_elemento_link" name='whatsapp' href="https://api.whatsapp.com/send/?phone=5551999040870&text&app_absent=0">WHATSAPP: (+55)(51)999040870 </a>
        <br>
        <a id='telegram' class="conteudo_elemento_link" name='telegram' href="https://t.me/nicolassmaniotto">TELEGRAM: (+55)(51)999040870 </a>
        <br>
        <a id='gmail' class="conteudo_elemento_link" name='gmail'>EMAIL: nicolasantoniosmaniotto@gmail.com</a>
    </h1>
    </div>
</div>
