<div class="gradient alt center ">
    
    <div class="contato backgroundStyle">
    <h1>
        <label for="whatsapp">WHATSAPP: </label>
        <a id='whatsapp' class="conteudo_elemento_link" name='whatsapp' href="https://api.whatsapp.com/send/?phone=5551999040870&text&app_absent=0"> (+55)(51)999040870 </a>
        <br>
        <label for="telegram">TELEGRAM: </label>
        <a id='telegram' class="conteudo_elemento_link" name='telegram' href="https://t.me/nicolassmaniotto"> (+55)(51)999040870 </a>
        <br>
        <label for='email'>EMAIL: </label>
        <a id='gmail' class="conteudo_elemento_link" name='gmail'>nicolasantoniosmaniotto@gmail.com</a>
    </h1>
    </div>
</div>
