<div name='home' class="gradient alt">
    <div class="">
        <div class="conteudo_box ">
            <br>
            <h1 class="align-block home backgroundStyle">
                Portifolio Web em Desenvolvimento.
            </h1>
            <br>
            <h1 class="align-block home backgroundStyle">
                 <a class='conteudo_elemento_link' onclick='verifica_url()' href="#curriculo">
                
               Ir Para Curriculo</a>
            </h1>
            <br>
            <h1 class="align-block home backgroundStyle">
                <a class='conteudo_elemento_link' onclick='verifica_url()' href="#contatos">
              Ir Para Contatos</a><br>
              <label for="whatsapp">WHATSAPP: </label>
            <a  class="conteudo_elemento_link" id='whatsapp' name='whatsapp' href="https://api.whatsapp.com/send/?phone=5551999040870&text='Curriculo GitHub'&app_absent=0"> (+55)(51)999040870 </a>
            <br>
            <label for="telegram">TELEGRAM:</label>
            <a  class="conteudo_elemento_link" id='telegram' name='telegram' href="https://t.me/nicolassmaniotto"> (+55)(51)999040870 </a>
            <br>
    
           </h1>
        </div>
    </div>
    <script type="text/javascript">
       function tamanho(){
            if(window.innerHeight > window.innerWidth){
                document.getElementsByClassName('home').style ='width:fit-content';
                console.log('tamanho');
                // return 'tamanho';
            }
        };
        tamanho()
    </script>
</div>